<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gdelt ZTIS</title>
    <meta charset="utf-8">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- DATE RANGE PICKER -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- SELECT2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row pt-1 pb-1">
        <div class="col-lg-12">
            <h4 class="text-center">ZTIS Gdelt Prediction</h4>
        </div>
    </div>
</div>
<section class="search-sec">
    <div class="container">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" id="select-daterange" name="daterange" value="01/01/2018 - 31/01/2018" />
                        </div>
                    </div>
                    <div class="row">
                        <p>Event</p>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-select2" id="select2-event-type">
                                <option></option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <p>Source</p>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-select2" id="select2-source">
                                <option></option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-select2" id="select2-source-exact">
                                <option></option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <p>Who</p>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-select2" id="select2-organization">
                                <option></option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-select2" id="select2-person">
                                <option></option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <p>Where</p>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-select2" id="select2-country">
                                <option></option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-select2" id="select2-country-code">
                                <option></option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-select2" id="select2-city">
                                <option></option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
<!--                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">-->
<!--                            <input type="text" class="form-control search-slt" placeholder="Enter Drop City">-->
<!--                        </div>-->

                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-danger wrn-btn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    $(document).ready(function() {
        $('#select-daterange').daterangepicker({
            opens: 'right',
            locale: {
                format: 'DD/MM/YYYY'
            }
        });

        $('#select2-event-type').select2({
            placeholder: "Select an event type"
        });

        $('#select2-source').select2({
            placeholder: "Select source"
        });

        $('#select2-source-exact').select2({
            placeholder: "Select exact source url"
        });

        $('#select2-organization').select2({
            placeholder: "Select an organization"
        });

        $('#select2-person').select2({
            placeholder: "Select person"
        });

        $('#select2-country').select2({
            placeholder: "Select country"
        });

        $('#select2-country-code').select2({
            placeholder: "Select country code"
        });

        $('#select2-city').select2({
            placeholder: "Select city"
        });
    });

</script>

</body>
</html>