<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <title>Gdelt ZTIS</title>
    <meta charset="utf-8">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- DATE RANGE PICKER -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- SELECT2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row pt-1 pb-1">
        <div class="col-lg-12">
            <h4 class="text-center">ZTIS Gdelt Prediction</h4>
        </div>
    </div>
</div>
<section class="search-sec">
    <div class="container">
        <form action="#" th:action="@{/aggregation}" th:object="${aggregationForm}" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" id="select-daterange" name="daterange" th:value="*{formDateRange}" th:field="*{formDateRange}" />
                        </div>
                    </div>
                    <div class="row">
                        <p>Event type</p>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-select2" id="select2-event-type" th:field="*{formEventType}">
                                <option value=""></option>
                                <option th:each="eventType : ${eventTypes}" th:value="${eventType}" th:text="${eventType}"
                                        th:selected="${eventType} == *{formEventType}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <p>Source</p>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-select2" id="select2-source", th:field="*{formSource}">
                                <option value=""></option>
                                <option th:each="source : ${sources}" th:value="${source}" th:text="${source}"
                                        th:selected="${source} == *{formSource}"></option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-select2" id="select2-source-exact">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <p>Who</p>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-select2" id="select2-organization" th:field="*{formOrganization}">
                                <option value=""></option>
                                <option th:each="organization : ${organizations}" th:value="${organization}" th:text="${organization}"></option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-select2" id="select2-person" th:field="*{formPerson}">
                                <option value=""></option>
                                <option th:each="person : ${persons}" th:value="${person}" th:text="${person}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <p>Where</p>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-select2" id="select2-country" th:field="*{formCountry}">
                                <option value=""></option>
                                <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-select2" id="select2-city" th:field="*{formCity}">
                                <option value=""></option>
                                <option th:each="city : ${cities}" th:value="${city}" th:text="${city}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
<!--                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">-->
<!--                            <input type="text" class="form-control search-slt" placeholder="Enter Drop City">-->
<!--                        </div>-->

                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="submit" class="btn btn-danger wrn-btn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    $(document).ready(function() {
        $('#select-daterange').daterangepicker({
            opens: 'right',
            locale: {
                format: 'DD/MM/YYYY'
            }
        });

        $('#select2-event-type').select2({
            placeholder: "Select an event type"
        });

        $('#select2-source').select2({
            placeholder: "Select formSource"
        });

        $('#select2-source-exact').select2({
            placeholder: "Select exact formSource url"
        });

        $('#select2-organization').select2({
            placeholder: "Select an formOrganization"
        });

        $('#select2-person').select2({
            placeholder: "Select formPerson"
        });

        $('#select2-country').select2({
            placeholder: "Select formCountry"
        });

        $('#select2-city').select2({
            placeholder: "Select formCity"
        });
    });

</script>

</body>
</html>